<!DOCTYPE html>
<html lang="en">
<head>
  <title>East West Line</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/style/pasir_ris.css"> 
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
    <br>
    <div class="container">
      <h4>Pasir Ris</h4>
      <div class="box">
        <table class="table table-hover small text-left" id="reviews">
          <thead>
              <tr>
                  <th width="200"><h4>Pictures:</h4></th>
              </tr>
          </thead>
          <tbody>
              <td><div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                  <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                </div>
                
                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/images/pr/pr1.jpg" alt="Male toilet" class="d-block" style="width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/pr/pr2.jpg" alt="Female toilet" class="d-block" style="width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/pr/pr3.jpg" alt="Wheelchair toilet" class="d-block" style="width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/pr/pr4.jpg" alt="Baby station" class="d-block" style="width:100%">
                  </div>
                  <div class="carousel-item">
                    <img src="/images/pr/pr5.jpg" alt="Sink" class="d-block" style="width:100%">
                  </div>
                </div>
                
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </button>
              </div>
            </div></td>
          </tbody>
      </table>

      <div class="box">
        <table class="table table-hover small text-left" id="reviews">
          <thead>
              <tr>
                  <th width="500"><h4>Reviews:</h4></a></th>
              </tr>
          </thead>
          <tbody>
          <% reviews.forEach(reviews => { %>
            <tr>
                <td><%= reviews.description %></td>
            </tr>
          <% }); %>
          </table>
          <a href="/addreview"><h6>Add Review</h6></a>
    </div>
</body>
</html>
